@model List<Nurse>
@{
    ViewData["Title"] = "DeleteNurse";
}



<html style="height:-moz-fit-content; scroll-behavior:auto">

<head style="height:-moz-fit-content; scroll-behavior:auto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body style="height:-moz-fit-content; scroll-behavior:auto ">

    <div class="form-body" style="height:-moz-fit-content; scroll-behavior:auto">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Delete Nurse </h3>
                        <p>Select nurse you want to delete</p>
                        
                        <table class="table table-bordered table-hover" style=" Background:azure">
                            <tr>
                            <td>Id</td>
                            <td>Full Name</td>
                            <td>Username</td>
                            <td>Ensure delete</td>
                            </tr>
                            @foreach (var nurse in Model)
                            {
                                <tr>
                                    <td>@nurse.Id</td>
                                    <td>@nurse.FName @nurse.LName</td>
                                    <td>@nurse.Username</td>
                                    <td>
                                        <form class="requires-validation" novalidate asp-action="EnsureNurseDelete" asp-controller="Admin" asp-route-id="@nurse.Id">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                <div class="valid-feedback">You selected a position!</div>
                                                <div class="invalid-feedback">Please select a position!</div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </table>
                        <a asp-action="AdminPage" asp-controller="Admin"> <button id="submit" class="btn btn-primary">Back </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/JavaScript.js"></script>
</body>
</html>
