@model AdminNurseViewModel
@{
    ViewData["Title"] = "EditNurse";
}
@{
    SelectList deptOptions = new SelectList(Model.DeptList, "Id", "Name");
}


<html style="height:-moz-fit-content; scroll-behavior:auto">

<head style="height:-moz-fit-content; scroll-behavior:auto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body style="height:-moz-fit-content; scroll-behavior:auto ">

    <div class="form-body" style="height:-moz-fit-content; scroll-behavior:auto">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Edit Nurse Data</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" novalidate asp-action="SaveNurseEdit" asp-controller="Admin" asp-route-Id="@Model.Id" asp-route-userid="@Model.userid"  asp-route-CurrentImage="@Model.CurrentImage">
                            
                            <div class="col-md-12">
                                <label asp-for="FName">First Name</label>
                                <input class="form-control" type="text" asp-for="@Model.FName" placeholder="First Name" required>
                                <span asp-validation-for="FName" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="LName">Last Name</label>
                                <input class="form-control" type="text" asp-for="@Model.LName" placeholder="Last Name" required>
                                <span asp-validation-for="LName" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Email">Email</label>
                                <input class="form-control" type="email" asp-for="@Model.Email" placeholder="E-mail Address" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Phone">Phone</label>
                                <br /> <br />
                                <input class="form-control" type="tel" pattern="^\+?[1-9]\d{1,14}$" asp-for="@Model.Phone" placeholder="Phone Number" required>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Salary">Salary</label>
                                <br /> <br />
                                <input class="form-control" asp-for="@Model.Salary" placeholder="Salary" >
                                <span asp-validation-for="Salary" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Imag">Upload Image</label>
                                <div style="color:green"> if you didn't upload new one last one will be kept</div>
                                <br />
                                
                                <input class="form-control" type="file" asp-for="@Model.Imag" >
                                <span asp-validation-for="Imag" class="text-danger"></span>
                                <br />
                            </div>


                            <div class="col-md-12">
                                <label asp-for="BirthDate">Birth Date</label>
                                <br /> <br />
                                <input class="form-control" type="date" asp-for="@Model.BirthDate"  required>
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Username">Username</label>
                                <input class="form-control" asp-for="@Model.Username" placeholder="Username" required>
                                <span asp-validation-for="Username" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="col-md-12">
                                <label asp-for="Password">Password</label>
                                <input class="form-control" type="password" asp-for="@Model.Password" value="@Model.Password" placeholder="Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <br />
                            </div>
                            <div class="col-md-12">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input class="form-control" type="password" asp-for="@Model.ConfirmPassword" value="@Model.Password" placeholder="Password" required>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                <br />
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <br />
                                <div class="form-check">
                                    <input class="form-check-input" value="Female" type="radio" id="f" checked asp-for="@Model.Gender">
                                    <label class="form-check-label" for="f">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="Male" id="m" type="radio" asp-for="@Model.Gender">
                                    <label class="form-check-label" for="m">
                                        Male
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label asp-for="DepartmentId">Department</label>
                                <select class="form-select mt-3" asp-for="DepartmentId" asp-items="deptOptions" required>
                                    <option selected value="">Select Department</option>
                                </select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </form>

                        <div class="form-button mt-3">
                            <a asp-action="NurseEditView" asp-controller="Admin"> <button id="submit" class="btn btn-primary">Back </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
</body>
</html>